@import "../../components/consts";

.main {
  font-size: $fs-primary;
}

.slider {
  padding-bottom: 61px;

  &__content {
    display: flex;
  }

  &__text {
    width: 100%;
    max-width: 226px;
    margin-left: 31px;
    padding-top: 84px;
    font-family: $primary-font;
  }

  &__img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    bottom: 0;

    @media (max-width: 1265px) {
      right: 10px;
    }

    @media (max-width: 375px) {
      right: 2px;
    }
  }
}

.flipping-slider {
  &__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    position: relative;
    width: 100%;

    @media (max-width: 768px) {
      padding-top: 0;
      // width: 100%;
      // max-width: 88px;
    }
  }
}

.button-prev {
  border: 2.5px solid #070707;
  box-sizing: border-box;
  border-radius: 21px;
  transform: rotate(-180deg);
  width: 42px;
  height: 42px;
  background-color: #FAFAFA;
  cursor: pointer;
  transition: $transition-duration;
  transform: rotate(-180deg);

  &:hover, &:focus {
    border: 2.5px solid #828282;
  }

  &:disabled {
    border: 2.5px solid #E5E5E5;
  }

  &::after, &::before {
    content: "";
    position: absolute;
    margin-top: -8%;
    margin-left: -0.6%;
    transform: rotate(45deg);
    height: 17px;
    width: 3px;
    background-color: #070707;
    border-radius: 5px;

    &:hover, &:focus {
      background-color:#828282;
    }

    @media (max-width: 450px) {
      width: 1px;
      height: 5px;
    }
  }

  &::before {
    margin-top: -40.3%;
    margin-left: -1%;
    transform: rotate(-45deg);

    @media (max-width: 450px) {
      margin-top: 6.3%;
    }
  }
}

.button-next {
  @extend .button-prev;
  transform: rotate(0deg)
}

.about-me {
  height: 615px;//delete

  overflow: hidden;
  padding-top: 31px;
  padding-bottom: 88px;
  background-color: #F6F6F6;

  &__title {
    padding-bottom: 30px;//delete
    text-align: center;
    font-weight: bold;
    font-size: $fs-title;
    line-height: 41px;
  }

  &__item {
    width: 100%;
    max-width: 478px;
    padding: 10px;
    margin-bottom: 54px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skills {
  height: 334px;//delete

  &__title {
    margin-top: 62px;
    text-align: center;
    font-size: $fs-title;
    line-height: 41px;
  }

  &__text {
    text-align: center;
    margin-top: 20px;
  }

}

.program {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 54px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-bottom: 10px;
    margin-left: 48px;
    margin-top: 44px;//
    width: 100%;
    max-width: 893px;//
  }
}

.portfolio {
  height: 500px;//delete
  margin: 0;
  height: 814px;
  background-color:#F6F6F6;

  &__title {
    text-align: center;
    padding-top: 60px;
    font-size: $fs-title;
  }
}

.site {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.mySite {
  width: 100%;
  // max-width: 600px;
  height: 604px;
  border: none;
}