$primary-font: 'Gilroy', 'Arial', sans-serif;
$fs-primary: 18px;
$lh-primary: 22px;

$lh-desktop: 21px;
$lh-tablet: 21px;
$lh-mobile: 21px;

$fs-main-title: 47px;

$fs-title-link: 26px;

$fs_text-header: 14px;
$color_text-header:#1E0606;
$bg-color_header: #FFFFFF;

$fs_text-footer: 18px;
$color_text-footer:#070707;
$bg-color_footer: #FFFFFF;

$fs-breadcrumbs: 20px;

$fs-blog-text: 18px;
$fs-blog-title: 24px;

$fs-catalog-title: 38px;

$fs-window-text: 14px;

$fs-title: 34px;

$fs-slider: 40px;

$transition-duration: .4s;