.main {
  min-height: 1200px;
}

.form {
  display: flex;
  flex-direction: column;
}

.btn {
	cursor: pointer;
	border: 1px solid #cecece;
	background: #f6f6f6;
	border-radius: 8px;
	padding: 8px 14px;
  width: 200px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: rgb(215, 215, 238);
}

.btn:active, .btn:focus {
	background-color: rgb(215, 215, 238);
}

.slider {
  padding-top: 30px;
}

