@import "../../components/consts";

%padding-margin {
  padding: 0;
  margin: 0;
}

%style-list {
  padding: 0;
  margin: 0;
}

%font-title {
  font-weight: bold;
}

.main-title {
  padding-top: 2.5%;
}

.selection {
  &__form {
    display: flex;
    margin-top: 33px;
    margin-bottom: 11px;
    flex-wrap: wrap;
  }

  // &__field {
  //   margin-left: 15px;
  // }
  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #666666;
    border: none;
  }
}

.tag {
	// @extend %padding-margin;
	// margin-left: 6%;
  
	// @media (max-width: 480px) {
	//   margin-left: 0;
	//   margin-top: -5px;
	// }
  
	// &__title {
	//   // @extend %font-title;
	// }
  
	&__list {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    margin: 0;
    padding: 10px 0 0;
  
	  @media (max-width: 480px) {
		padding-top: 10px;
	  }
	}
  
	&__etem {
	  padding-bottom: 5px;
  
	  @media (max-width: 480px) {
		padding-bottom: 10px;
	  }
	}
  
	&__label {
	  display: flex;
	  align-items: center;
	  margin-right: 5px;
	  cursor: pointer;
	  position: relative;
  
	  > input {
		&:focus + .click {
		  border: 2px solid rgb(141, 113, 90);
		}
		
		&:checked + .click {
		  background-color: #FFFFFF;
		}
		
		&:checked + .click::before {
		  content: url("/../../static/images/Vector.svg");
		  position: absolute;
		  top: 3px;
		  transform: scale(.9);
		  height: 0px;
		  background-color: #FFFFFF;
		}
	  }
  }
}

.click {
  width: 25px;
  height: 25px;
  border: 2.5px solid #070707;
  border-radius: 3px;

  &_active {
    content: url("/../../static/images/Vector.svg");
    background-color: #FFFFFF;
    top: 1px;
  }
}

.text {
  margin-left: 10px;
}

.clicker {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  border: 2.5px solid #070707;
  border-radius: 100%;
  
  &_active::before {
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color:  #070707;
    border-radius: 100%;
  }
}

.view {
  // @extend %padding-margin;
  margin-left: 7%;

  @media (max-width: 480px) {
    margin-left: 0;
    margin-top: -5px;
  }

  &__title {
    @extend %font-title;
  }

  &__list {
    margin: 0;
    padding: 10px 0 0;
    width: 120px;

    @media (max-width: 480px) {
      padding-top: 10px;
    }
  }

  &__etem {
    padding-bottom: 10px;

    // @media (max-width: 480px) {
    //   padding-bottom: 10px;

    // }
  }

  &__label {
    display: flex;
    align-items: center;
    // margin-right: 33px;
    cursor: pointer;
    position: relative;

    > input {
      &:focus + .click {
        border: 2px solid rgb(141, 113, 90);
      }
      
      &:checked + .click {
        background-color: #FFFFFF;
      }
      
      &:checked + .click::before {
        content: url("/../../static/images/Vector.svg");
        position: absolute;
        top: 3px;
        transform: scale(.9);
        height: 0px;
        background-color: #FFFFFF;
      }
    }
  }
}

.view__label > input:checked +.clicker::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 12px;
  height: 12px;
  background-color: #070707;
  border-radius: 100%;
}

.comments {
  margin-left: 8.5%;

  &__etem {
    padding-bottom: 9px;
  }

  &__list {
    padding-left: 0;
    margin-top: 10px;
    width: 120px;
  }

  &__label {
    display: flex;
    align-items: center;
  }
  
}

.show {
  margin-left: 8.2%;

  &__etem {
    padding-bottom: 9px;
    
  }
  &__list {
    padding-left: 0;
    margin-top: 11px;
    width: 120px;
  }

  &__label {
    display: flex;
    align-items: center;
  }
}

.sort {
  margin-left: 5.3%;

  &__etem {
    padding-bottom: 10px;
  }

  &__list {
    padding-left: 0;
    margin-top: 11px;
    width: 120px;
  }

  &__label {
    display: flex;
  }
}

.search {
  display: flex;
  margin-bottom: 7px;
  


  &__input {
    padding: 10px;
    height: 50px;
    width: 100%;
    margin-right: 28px;
  }
}

.button-submit {
  margin-left: 0;
  min-width: 87px;
  margin-top: 44px;
//  margin-left: 50px;
  margin-bottom: 6.5%;
  background-color: #FFFFFF;
  color: #000000;
  border: 2.5px solid #070707;
  
    &:hover, &:active {
      background-color: #000000;
      color: #FFFFFF;
    }

  @media (max-width: 1194px) {
    margin-left: 200px;
    margin-top: 39px;
  }

  @media (max-width: 656px) {
    margin: auto;
  }
}

.button-search {
  margin-top: 0;
  min-width: 100px;
  margin-bottom: 10px;
  margin-left: 0;
  @extend .button-submit;
}

//*********************************************
.blog {
  &__list {
    padding-left: 0;
    margin-left: 0;
  }

  &__item {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 16px;


    &:nth-child(5) {
      border-bottom: 0;
    }

    // &::after {
    //   content: "";
    //   display: inline-block;
    //   width: 100%;
    //   height: 1px;
    //   background-color: #666666;
    //   border: none;
    // }

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

.blog__img {
  max-width: initial;
  height: auto;
}


/********************************************************/
// .view {
//   // @extend %padding-margin;
//   margin-left: 9%;

//   @media (max-width: 768px) {
//     margin-left: 9%;
//   }

//   @media (max-width: 480px) {
//     margin-left: 22%;
//     margin-top: -5px;
//   }

//   &__title {
//     @extend %font-title;
//   }

//   &__list {
//     @extend .color__list;
//   }

//   &__etem {
//     @extend .color__etem;
//   }

//   &__label {
//     @extend .color__label;

//     > input:focus + .clicker {
//       border: 3px solid rgb(141, 113, 90)
//     }
  
//     > input:checked + .clicker::before {
//       @extend .clicker_active;
//     } 
//   }
// }

// .clicker {
//   display: flex;
//   position: relative;
//   width: 20px;
//   height: 20px;
//   border: 3px solid #c29974;
//   border-radius: 100%;
  
//   &_active::before {
//     content:"";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 12px;
//     height: 12px;
//     background-color:  #C29974;
//     border-radius: 100%;
//   }
// }

