@import './consts';

%flex-and-center {
  display: flex;
  align-items: center;
}

.header {
  $fs-primary: 18px;
  $lh-primary: 22px;

  @media (max-width: 1265px) {
    padding: 25px 8% 31px;
  }

  @media (max-width: 375px) {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 26px;
  }

  &__content {
    justify-content: space-between;
    @extend %flex-and-center;
    padding-top: 19px;
    padding-bottom: 5px;

    @media (max-width: 768px) {
      display: none;
    }
  }
  
  &__link {
    margin-left: 10px;
    font-weight: bold;
    color: #070707;

    &:hover {
      opacity: 0.5;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 60px;
  }

  &__item {
    margin-right: 20px;
    color: #828282;
    transition: $transition-duration;

    &:hover {
      opacity: 0.5;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #666666;
    border: none;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.mobile-header {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  background-color: rgba(125, 151, 218, 0.8);
  transition: 1s transform;
  transform: translateX(-100%);
  display: none;
}

