<header class="header-main container-back">
  <div class="header container">
    <div class="header__content">
      <a class="header__link" href="/">Home</a>
      <nav class="header__nav">
        <ul class="header__list">
          <li><a class="header__item" href="/pages/my-blog/index.html">My blog</a></li>
          <li><a class="header__item" href="/pages/my-profile/index.html">My Profile</a></li>
          <li><button class="header__item button-header sign_js">Sign in</button></li>
          <li><button class="header__item button-header register_js">Register</button></li>
          <li><a class="header__item" href="/pages/homework_js/index.html">Homework js</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="mobile-header">
    <div class="mobile-header__content">
    
      <div class="mobile-header__cap">
        <button class="mobile-header__close mobile-header__close_js" type="button" value="closed"></button>
        <a class="mobile-header__logo" href="/">Home</a>
      </div>
      <nav class="mobile-header__nav">
        <ul class="mobile-header__list">
          <li><a class="header__item" href="/">Home</a></li>
          <li><a class="header__item" href="/pages/my-blog/index.html">My blog</a></li>
          <li><button class="header__item header__item_js">Sign up</button></li>
          <li><a class="header__item" href="/pages/register/index.html">Register</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- /***Sign in modal************************************************************************************************/ -->
  <div class="modalSign-bg modalSign-bg_close modalSign-bg_js">
    <form class="modalSign-window" action="https://form-data-dl.herokuapp.com/api/messages" method="POST">
      <label class="modalSign-window__label" for="email">Email *</label>
      <input class="modalSign-window__input modalSign-window__input_js" id="email" type="text" name="email">

      <label class="modalSign-window__label" for="password">Password *</label>
      <input class="modalSign-window__input" id="password" type="password" name="psw">
      
      @@include('button/index.html',{
        "text": "Log in",
        "class": "modalSign-window__button",
        "type": "send",
        "value": "send"
      })
      <button class="modalSign-window__close modalSign-window__close_js" type="button" value="closed"></button>
    </form>
  </div> 

<!-- /***Register modal************************************************************************************************ -->
  <div class="modalReg-bg modalReg-bg_close modalReg-bg_js">
    <form class="modalReg-window" action="https://form-data-dl.herokuapp.com/api/messages" method="POST">
      <label class="modalReg-window__label" for="user-email">Email *</label>
      <input class="modalReg-window__input modalReg-window__input_js" id="user-email" type="text" name="email">
      
      <div class="modalReg-window__user">
        <div class="modalReg-window__inform">
          <label class="modalReg-window__label" for="user-name">Name? *</label>
          <input class="modalReg-window__input" id="user-name" type="text" name="user-name">
        </div>
        <div class="modalReg-window__inform">
          <label class="modalReg-window__label" for="user-surname">Surname</label>
          <input class="modalReg-window__input" id="user-surname" type="text" name="user-surname">
        </div>
      </div>

      <div class="modalReg-window__user">
        <div class="modalReg-window__inform">
          <label class="modalReg-window__label" for="user-psw">Password*</label>
          <input class="modalReg-window__input" id="user-psw" type="password" name="user-password">
        </div>
        <div class="modalReg-window__inform">
          <label class="modalReg-window__label" for="user-email">Repeat password</label>
          <input class="modalReg-window__input" id="user-email" type="text" name="user-reppsw">
        </div>
      </div>

      <div class="modalReg-window__user">
        <div class="modalReg-window__inform">
          <label class="modalReg-window__label" for="user-psw">Location*</label>
          <input class="modalReg-window__input" id="user-psw" type="text" name="user-location">
        </div>
        <div class="modalReg-window__inform">
          <label class="modalReg-window__label" for="user-email">Age</label>
          <input class="modalReg-window__input" id="user-email" type="text" name="age">
        </div>
      </div>
      
      <fieldset class="modalReg-window__fieldset">
        <label class="modalReg-window__lable">
          <input class="modalReg-window__accept hidden" type="checkbox" name="accept" value="accept">
          <span class="modalReg-window__click"></span>
          <span class="modalReg-window__text">Checking on the button? you consent to the processing of your personal data.</span>
        </label>
      </fieldset>
      @@include('button/index.html',{
        "text": "Sign up",
        "class": "modalReg-window__button",
        "type": "send",
        "value": "send"
      })
      <button class="modalReg-window__close modalReg-window__close_js" type="button" value="closed"></button>
    </form>
  </div> 
</header>
