<header class="header-main container-back">
  <div class="header container">
    <div class="header__content">
      <a class="header__link" href="/">Home</a>
      <nav class="header__nav">
        <ul class="header__list">
          <li><a class="header__item" href="/pages/my_blog/index.html">My blog</a></li>
          <li><a class="header__item" href="/pages/sign-up/index.html">Sign up</a></li>
          <li><a class="header__item" href="/pages/register/index.html">Register</a></li>
          <li><a class="header__item" href="/pages/homework_js/index.html">Homework js</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="mobile-header">
    <div class="mobile-header__content">
    
      <div class="mobile-header__cap">
        <button class="mobile-header__close mobile-header__close_js" type="button" value="closed"></button>
        <a class="mobile-header__logo" href="/">Home</a>
      </div>
      <nav class="mobile-header__nav">
        <ul class="mobile-header__list">
          <li><a class="header__item" href="/">Home</a></li>
          <li><a class="header__item" href="/pages/my-blog/index.html">My blog</a></li>
          <li><a class="header__item" href="/pages/sign-up/index.html">Sign up</a></li>
          <li><a class="header__item" href="/pages/register/index.html">Register</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
