@import './consts';

.pages {
  display: flex;
  // flex-wrap: wrap;
  padding-bottom: 43px; 
  align-items: center;

  @media (max-width: 375px) {
    padding-bottom: 50px;
  }
  
  &__list {
    display: flex;
    width: 234px;
    margin: auto;
    padding-left: 0;
    justify-content: space-between;
    // font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    // font-size: $fs-primary;
    line-height: 20px;
    color: #1E0606;

    @media (max-width: 375px) {
      font-size: 14px;
      line-height: 17px;
      width: 188px;
    }
  }

  &__link {
    color: #1E0606;
    // transition: $transition-duration;

    &:hover {
      color: #C29974;
    }
  }
  
  &__link_active {
    color: #C29974;
  }
  
  &__prev {
    transform: rotate(-180deg);
  }
}

.prev {
  padding-left: 20px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  fill:#E4E1E1;

  &:hover {
    // transition: $transition-duration;
    fill:#C29974;
  }

  &:active {
    transition: $transition-duration;
    opacity: 0.5;
  }
}

.next {
  @extend .prev;
  transform: rotate(-180deg);
}
