<div class="pages container">

  <button class="button-prev button-prev_js">
    <span class="hidden">button page preview</span>
  </button>
  
  <ul class="pages__list pages__list_js">
    <li>
      <a href="?page=1" class="pages__link link_js">1</a>
    </li>
    <li>
      <a href="?page=2" class="pages__link link_js">2</a>
    </li>
    <li>
      <a href="?page=3" class="pages__link link_js">3</a>
    </li>
    <li>
      <a href="?page=4" class="pages__link link_js">4</a>
    </li>
    <li>
      <a href="?page=5" class="pages__link link_js">5</a>
    </li>
    <li>
      <a href="?page=6" class="pages__link link_js">6</a>
    </li>
    <li>
      <a href="?page=7" class="pages__link link_js">7</a>
    </li>
    <li>
      <a href="?page=8" class="pages__link link_js">8</a>
    </li>
  </ul>

  <button class="button-next button-next_js">
    <span class="hidden">button page next</span>
  </button>
</div>
