@import './consts';

.footer {
  min-height: 510px;//delete
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  line-height: 22px;
  

  &__title {
    text-align: center;
    padding-top: 34px;
    font-size: $fs-title;
  }

  &__content {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 318px;
  }

  &__text {
    margin: auto;
    padding-bottom: 30px;
    max-width: 266px;
    text-align: center;
  }

  &__link {
    margin: auto;
    padding: 10px 37px;
    padding: 7px 19px;
    background-color: #000000;
    border: solid #070707;
    color: #FFFFFF;
    margin-top: 6px;
    font-size: 18px;
    line-height: 22px;
  
    &:hover, &:active {
      background-color: #FFFFFF;
      color: #070707;
    }
  }
}

.modal-bg {
  z-index: 2;
}

.modal-window {
  &__button {
    @extend .modalReg-window__button;
  }

  &__text:hover, &__text:focus{
    color: #473c3c;
  }

  &__lable > input:hover ~ span,
  &__lable > input:focus ~ span,
  &__lable > input:checked ~ span {
    color: #473c3c;
    cursor: pointer;
  }
  &__click:before:checked {
    border: brown;

  }
}

.social {
  margin-top: 52px; 

  &__list {
    padding-left: 0px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &, li:nth-child(4) {
      padding-left: 10px;
    }
    &, li:nth-child(6) {
      padding-right: 10px;
    }
  }

  &__item {
    order: 0;
    align-self: center;
    padding: 10px 18px;
    border: 2.5px solid #070707;
    border-radius: 30px;

    &:hover {
      background-color: #070707;
      color: #FFFFFF;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.web-design {
  color:#828282;

  &__link {
    border-bottom: 1px dashed;
    color:#828282;

    &:hover, &:active, &:focus {
      color: #070707;
      border-bottom: 1px solid #070707;
    }
  }

}

.copyr {
  color:#828282;
}
