<footer class="footer container-back">
  <h2 class="footer__title">Contacts</h2>
  <div class="footer__content">
    <p class="footer__text">Want to know more or just chat? You are welcome!</p>

    <!-- @@include('button/index.html',{
      "text": "Send message",
      "class": "email-form__button-join",
      "type": "submit",
      "value": "send"
    }) -->

      <div class="social">
        <ul class="social__list">
          <li><a class="social__item" href="#">Instagram</a></li>
          <li><a class="social__item" href="#">Vk</a></li>
          <li><a class="social__item" href="#">Telegram</a></li>
          <li><a class="social__item" href="#">Mail</a></li>
          <li><a class="social__item" href="#">GitHub</a></li>
          <li><a class="social__item" href="#">Phone</a>
          </li>
        </ul>
      </div>

    <div class="web-design">
      <a class="web-design__link" href="#"> Design by DL Academy</a>
    </div>

    <div class="copyr">
      <p>Program code from Antonina</p>
    </div>

  </div>
  
</footer>
